---
layout: default

---

<div class="container">
  <div class="row">
    <div class="col-12 center-text">
      <h1 class="single-post-title">
        {{ page.title }}
      </h1>
      <div class="row">
        <div class="col-6">
          {{ page.date | date: '%B %d, %Y' }}
        </div>
        <div class="col-6 share-post">
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/robwdudley"><ion-icon name="logo-linkedin"></ion-icon></a>
            </li>
            <li>
              <a href="https://www.twitter/com/robwdudley"><ion-icon name="logo-twitter"></ion-icon></a>
            </li>
            <li>
              <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <p>
        {{ content }}
        </p>
        <!--  <p>
            Onward and upward,<br />
            <span class="signature">
              Rob
            </span>
          </p> -->

    </div>

  </div>
</div>
