<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--
    Howdy, friend!

    Welcome and thanks for visiting!
    If you'd like to learn more about this website,
    you should check out the project post at
    https://www.dudley.io/projects/dudley

    You can also view the code at https://github.com/robwdudley/robwdudley.github.io

    If you'd like to get in touch, feel free to email me at robwdudley@gmail.com!

    Cheers,
    Rob

    -->


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    {% include google-analytics.html %}
    <title>{{ page.title }}</title>
</head>
