<footer id="footer" class="container">
  <div class="row">
    <div class="col-md-6">
      &copy; 2021 Built by Rob, designed by the amazing team at <a href="https://dribbble.com/tonikstudio" target="_blank" id="tonik">tonik</a>

    </div>
    <div class="col-md-6 footer-social">
      <ul>
        <li>
          <a href="https://www.twitter.com/robwdudley" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/robwdudley" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
        </li>
        <li>
          <a href="https://www.github.com/robwdudley" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
        </li>
        <li>
          <a href="https://www.instagram.com/robwdudley" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
